# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Coverage
coverage/
*.lcov

# Cache
.cache/
.eslintcache
